<div class="d-flex flex-column align-items-center">
  <h3>Your Trips</h3>
    <% @trips.each do |trip| %>
      <div class="list-group rounded m-0 py-3" style="width: 300px;">
        <% if trip.current == true %>
          <div class="list-group-item list-group-item-action active"><%= trip.country_name%>: current</div>
        <% else %>
          <div class="list-group-item list-group-item-action"><%= trip.country_name %></div>
        <% end %>
          <div class="list-group-item list-group-item-action"><%= trip.arrival_date.strftime("%d/%m/%Y") %> to <%= trip.current == true ? "currently" : trip.departure_date.strftime("%d/%m/%Y")  %></div>
        <% if trip.receipts.empty? %>
          <div class="list-group-item list-group-item-action">There are no current receipts</div>
          <% if trip.current == true %>
            <div class="list-group-item list-group-item-action"><%= link_to "Add a receipt", new_trip_receipt_path(trip) %></div>
          <% else %>
            <div class="list-group-item list-group-item-action d-flex justify-content-end"><%= link_to "View receipts", trip %><i class="fas fa-arrow-right"></i></div>
          <% end %>
        <% else %>
          <div class="d-flex">
            <div class="list-group-item list-group-item-action"><% trip.receipts.each do |receipt| %> <%= "#{receipt.shop} | "%><% end %></div>
          </div>
            <div class="list-group-item list-group-item-action"><%= "Total spent: #{humanized_money_with_symbol(trip.total)}" %></div>
          <% if trip.current == true %>
            <div class="list-group-item list-group-item-action d-flex justify-content-between"><%= link_to "Add a receipt", new_trip_receipt_path(trip) %><div><%= link_to "View receipts", trip %><i class="fas fa-arrow-right"></i></div></div> 
          <% else %>
            <div class="list-group-item list-group-item-action d-flex justify-content-end"><%= link_to "View receipts", trip %><i class="fas fa-arrow-right"></i></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

