<% if !current_user.nil? %>
<div class="menu-wrap">
  <div class="hamburger" id='hamburger'><i class="fas fa-bars"></i></div>
</div>
<div class="menu" id="menu">
  <div>
    <div>
      <div class="menu-close"><i class="fas fa-times"></i></div>
      <div class="user-info">
        <h6><%= current_user.first_name %> <%= current_user.last_name %></h6>
        <p><%= current_user.passport_country %></p>
      </div>
      <ul class="nav-menu-items">
        <li><a href=<%="#{ root_path}"%>>Home</a></li>
        <li><a href=<%="#{ trips_path}"%>>Your Trips</a></li>
        <li><a href=<%="#{ forms_path}"%>>Your Claims</a></li>
        <li><a href=<%="#{ edit_user_registration_path}"%>>Edit your details</a></li>
        <li><a href=<%=""%>>Help</a></li>
      </ul>
      <ul>
        <li><a href=<%"#{ destroy_user_session_path }"%>>Logout</a></li>
        <p>Version 1.0</p>
      </ul>
    </div>
  </div>
</div>
<% end %>