
<% if current_user.trips.present? == true %>

  <% total_counter = 0 %>
  <% excvat_counter = 0 %>
  <% current_user.trips.last.receipts.each do |receipt| %>
    <% total_counter += receipt.total %>
    <% excvat_counter += receipt.total_excl_vat %>
  <% end %>
  <% vat_save = total_counter - excvat_counter %>
<!-- <div class="keyart" id="parallax"> -->
<!--   <div class="keyart_layer parallax" id="keyart-0">
 <-->
  <div class="test-stuff">
        <div class="test">
        <h3 class="header" id="header">Current spending</h3>
        <div class="">
          <div class="pie_chart">
            <%= pie_chart({"Spending" => excvat_counter.to_i, "Reclaimable VAT" => vat_save.to_i}, legend: false, colors: ["#FFAC30", "#F87060"], donut: true, library: {cutoutPercentage: 70}, dataLabels: { enabled: false }, id: "chart") %>
            <div class="chart-text pt-3">
              <p class="key", id="vatsave"><%= "£#{vat_save.to_i}.00"%></p>
              <p class="key", id="refund"><%= "Refundable of" %></p>
              <p class="key", id="total"><%= "£#{total_counter.to_i}.00" %></p>
            </div>
          </div>
        </div>
      </div>


<!--   </div> -->
<!--   <div class="keyart_layer parallax" id="keyart-1"> -->
  <% grouped_receipts = current_user.trips.last.receipts.group_by{ |t| t.date} %>


      <table class="table mb-5" id="dynamic-table">
        <tbody>
           <% grouped_receipts.each do | date, info | %>
             <% date_total = 0 %>
             <% info.each do |receipt| %>
               <% date_total += receipt[:total_cents].to_i %>
             <% end %>
               <tr>
                 <td class="dates"><%= "#{date.strftime("%A, %d %b")}" %></td>
                 <td class="dates", id="amount"><%= "£#{date_total}.00" %></td>
               </tr>
             <% info.each do |receipt| %>
               <tr>
                 <td id="shop"><%= "#{receipt[:shop]}" %></td>
                 <td id="price"><%= "£#{receipt[:total_cents].to_i}.00" %></td>
               </tr>
             <% end %>
           <% end %>
        </tbody>
      </table>
  </div>

    <div class="button-cont">
      <%= link_to 'Add Receipt', new_photo_trip_receipts_path(current_user.trips.last), class: "btn btn-warning button", id: "add" %>
    </div>



<% else %>
  <h2 style="text-align: center;">Reclaim VAT</h2>
    <div class="map-elements">
      <img src='<%= asset_path 'London.png' %>' alt="" class= "map">
      <%= link_to 'Add trip', new_trip_path, class: "btn btn-warning button add-trip" %>
  </div>

<% end %>

