<%= simple_form_for(@item) do |f| %>
  <div class="d-flex">
    <div><%= f.input :quantity, label: "Qt" %></div>
    <div class="flex-grow-1"><%= f.input :description, label: "Item" %></div>
    <div><%= f.input :price_cents, label: "Price" %></div>
  </div>
  <%= f.submit class: "btn btn-warning button w-100" %>
<% end %>
