<h1 style="text-align: center;">Forms</h1>

<% if @forms.empty? %>
  <div class="trips-card shadow d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto;">
    <h5>You have no current claims.</h5>
    <%= link_to "Go to trips", trips_path, class: "btn btn-warning" %>
  </div>
<% end %>


  <% @forms.each do |form| %>
    <div class="trips-card shadow my-3 mx-auto">
      <h6>Country: <%= link_to form.trip.country_name, trip_path(form.trip) %></h6>
      <p class="travel-dates"><%= form.trip.arrival_date.strftime("%d %b %Y") %> to <%= form.trip.current == true ? "currently" : form.trip.departure_date.strftime("%d %b %Y")  %></p>
      <p>Money saved this trip: <strong><% form.trip.receipts.each { |receipt| @VatTotal += (receipt.total - receipt.total_excl_vat) } %><%= humanized_money_with_symbol(@VatTotal) %></strong></p>
      <p style="text-align: center;"><%= link_to "Custom's form", form_path(form), class: "btn btn-outline-secondary" %></p>
    </div>
  <% end %>




