<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center mb-3">Please validate receipt</h2>
      <% if @receipt.photo.attached? %>
        <%= cl_image_tag @receipt.photo.key, crop: :fill, class: "photo-receipt" %>
      <% end %>
      <%= simple_form_for(@receipt, url: update_photo_receipt_path(@receipt)) do |f| %>
        <%= f.input :shop %>
        <%= f.input :shop_vat_no %>
        <%= f.input :shop_address %>
        <%= f.input :transaction_no %>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.simple_fields_for :items do |b| %>
          <%= b.input :quantity, label: "Quantity" %>
          <%= b.input :description, label: "Item" %>
          <%= b.input :price, label: "Price" %>
        <% end %>
        <%= f.submit value: "Validate Receipt", class: "btn btn-warning button w-100" %>
      <% end %>
    </div>
  </div>
</div>
