<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4">
      <h2>Please validate receipt</h2>
      <%= cl_image_tag @receipt.photo.key, height: 300, width: 400, crop: :fill %>
      <%= simple_form_for(@receipt) do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :shop %>
        <%= f.input :shop_vat_no %>
        <%= f.input :shop_address %>
        <%= f.input :transaction_no %>
        <%= f.input :date %>
        <%= f.input :total %>
        <%= f.input :total_excl_vat %>
        <%= f.submit class: "btn btn-warning button w-100" %>
      <% end %>
    </div>
  </div>
</div>
