<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center my-3">Receipt</h2>
      <div class="card shadow border-0 mb-3" style="width: 100%;">
        <%= cl_image_tag "https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80", class: "card-img-top" %>
        <div class="card-body">
          <p><i class="fas fa-store"></i> <%= @receipt.shop %> - <%= @receipt.shop_address %></p>
          <h2 class="card-title"><%= humanized_money_with_symbol(@saving) %> saving</h2>
          <hr>
          <ul class="list-inline d-flex justify-content-between">
            <li type="button" class="list-inline-item" data-toggle="modal" data-target="#items">
              <i class="fas fa-shopping-bag"></i> <%= @items %>
              <% if @items == 1 %>
                <%= "item" %>
              <% else %>
                <%= "items" %>
              <% end %>
            </li>
            <li type="button" class="list-inline-item" data-toggle="modal" data-target="#photo-receipt">
              <i class="fas fa-receipt"></i> <%= humanized_money_with_symbol(@receipt.total) %> total
            </li>
            <li class="list-inline-item"><i class="far fa-calendar-alt"></i> <%= @receipt.date.strftime("%b %d") %></li>
          </ul>
          <hr>
          <div class="d-flex justify-content-between">
            <%= link_to "Edit", edit_photo_receipt_path(@receipt), class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to "Delete", receipt_path(@receipt), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
      <%= link_to "Back to Trip", trip_path(@trip), class: "btn btn-warning button add-photo" %>

      <!-- Original Receipt - Modal -->
      <div class="modal fade" id="photo-receipt" tabindex="-1" role="dialog" aria-labelledby="photo-receipt-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="photo-receipt-title">Original Receipt</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% if @receipt.photo.attached? %>
                <%= cl_image_tag @receipt.photo.key, crop: :fill, class: "photo-receipt rounded" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Items - Modal -->
      <div class="modal fade" id="items" tabindex="-1" role="dialog" aria-labelledby="items-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="items-title">Items bought</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="items-modal">
                <% @receipt.items.each do |item| %>
                  <div class="d-flex justify-content-between">  
                    <p><%= link_to '', edit_item_path(item), class: "fas fa-edit" %><%= item.quantity %> x </p>
                    <p style="text-align: start;"><%= item.description.first(15) %>...</p>
                    <p>
                      <%= humanized_money_with_symbol(item.price) %>
                      <%= link_to '', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
