<div class="container my-3">
  <h2>Receipt</h2>
  <ul>
    <li>Shop: <%= @receipt.shop %></li>
    <li>VAT number: <%= @receipt.shop_vat_no %></li>
    <li>Address: <%= @receipt.shop_address %></li>
    <li>Transaction no: <%= @receipt.transaction_no %></li>
    <li>Date: <%= @receipt.date %></li>
    <li>Total: <%= humanized_money_with_symbol(@receipt.total) %></li>
    <li>Total excl VAT: <%= humanized_money_with_symbol(@receipt.total_excl_vat) %></li>
    <li>Total from controller: <%= humanized_money_with_symbol(@total) %> </li>
  </ul>
  <% if @receipt.photo.attached? %>
    <%= cl_image_tag @receipt.photo.key, height: 600, width: 400, crop: :fill %>
  <% end %>
  <h3>Items bought:</h3>
  <ol>
    <% @receipt.items.each do |item| %>
      <li><%= item.quantity %>x <%= item.description %> £<%= item.price %></li>
      <td><%= link_to 'edit', edit_item_path(item) %></td>
      <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </ol>
  <%= link_to "Back to receipts", trip_path(@trip), class: "btn btn-warning button w-100" %>
  <br>
  <%= link_to "Edit", edit_receipt_path(@receipt) %>
  <br>
  <%= link_to "Edit photo", edit_photo_receipt_path(@receipt) %>
  <br>
  <%= link_to "Delete", receipt_path(@receipt), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning delete-button w-100" %>
</div>
